.card {
  background-color: whitesmoke;
  width: 200px;
  height: 270px;
  margin-bottom: 10px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  -webkit-box-shadow: 10px 17px 105px -49px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 17px 105px -49px rgba(0, 0, 0, 1);
  box-shadow: 10px 17px 105px -49px rgba(0, 0, 0, 1);

  font-size: 20px;
  text-align: center;
}

.card {
 
}

.textDead{
    color: red;
}
.textLive{
    color: green;
}

.cardImage {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 80px;
  margin-top: 5px;
}

.link{

}

.link :visited{
  color: aquamarine;
}

.cardImage img {
  width: 150px;
  height: 150px;
}

.buttonCard {
  width: 100%;
  margin-top:20px;
}

.buttonCard button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #3BD1CE;
  transition: 0.2s;
  font-family: 'Roboto';
}

.buttonCard button:hover{
  font-family: 'Roboto';
  background-color: 'red';
  background-color: #3bd1cf42;
  cursor: pointer;
}